/*
	http://guidedulyceen.toile-libre.org
	Version 1.0.4
	Design by Antonin Décimo
*/



/* ELEMENTS DE TEXTE */

/* POLICES */

@font-face {
	font-family: 'TravelingTypewriter';
	src: url('polices/TravelingTypewriter.ttf');
}

/* ELEMENTS DE TEXTE */

/* Classes de formatage du texte */

.family_name {
	font-variant: small-caps;
}
.code {
	font-family: 'Courier New';
	font-size: 14px;
}
.extern_link:hover {
	color: grey;
}
.article_link:hover {
	color: green;
}
.page_link:hover {
	color: red;
}
.unactive_link {
	text-decoration: none;
	color: grey;
}
.warning {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
.hide {
	height: 5px;
	overflow: hidden;
}
.hide:hover {
	height: auto;
	overflow: auto;
}

/* BALISES */
/* Liens <a> */
article a:visited {
	text-decoration: none;
	color: purple;
}

/* Pargraphes : <p> */
article p {
	font-family: 'Times';
	font-size: 16px;
	text-align: justify;	
	padding: 0px;
	margin: 0px;
}

/* Titres : <h1>, <h2>, <h3>, <h4>, <h5>, <h6> */
article h1, article h2, article h3, article h4, article h5, article h6 {
	font-family: 'TravelingTypewriter';
	font-weight: normal;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: 2px 2px 4px black;
}
article h1 {
	display: inline-block;
	width: auto;
	font-size: 23px;
	padding-left: 15px;
	padding-right: 15px;
}
article h2 {
	font-size: 20px;
	padding-left: 12px;
	margin-top: 5px;
}
article h3 {
	font-size: 18px;
	padding-left: 10px;
	margin-top: 5px;
}
article h4 {
	font-size: 17px;
	padding-left: 8px;
	margin-top: 5px;
}
article h5 {
	font-size: 16px;
	padding-left: 6px;
	margin-top: 5px;
}
article h6 {
	font-size: 15px;
	padding-left: 4px;
	margin-top: 5px;
}

/* Listes <ul> */
article ul {
	list-style: outside square;
	padding-top: 0px;
	margin-top: 0px;
}

/* Facebook */
article div[class="fb-like"] {
	display: inline-block;
}

a {
	text-decoration: none;
	color: black;
}
article a {
	text-decoration: none;
	color: purple;
}
aside a:hover {
	text-decoration: underline;
	color: green;
}
header a:hover {
	text-decoration: underline;
	color: red;
}
aside a:active {
	text-decoration: underline;
	color: green;
}
header a:active {
	text-decoration: underline;
	color: red;
}
a:visited {
	text-decoration: none;
	color: black;
}

/* POLICES */

@font-face {
    font-family: 'AlphabitsSquared';
    src: url('polices/AlphabitsSquared.ttf');
}
@font-face {
	font-family: '28 Days Later';
	src: url('polices/28 Days Later.ttf');
}

/* ELEMENTS PRINCIPAUX */

body {
	background: url('images/Fond.png');
}

#main_wrapper {
	margin: auto;
	width: 1020px;
	font-family: 'Times';
}

hr {
	width: 1020px;
	height: 5px;
	background: url('images/Separateur_horizontal.png') repeat-x bottom;
	margin: 0px;
	padding: 0px;
}

/* HEADER */

#main_title {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
	width: 1020px;
}

header img, header h1, header h2{
	display: inline-block;
	vertical-align: bottom;
	padding: 0px;
	margin: 0px;
}

header h1 {
	font-family: 'AlphabitsSquared';
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-align: left;
	height: 40px;
	margin-left: 25px;
	margin-right: 190px;
}

header h2 {
	font-family: '28 Days Later';
	text-align: right;
	font-size: xx-large;
	width: 200px;
}

header span:hover {
	color: red;
}

header nav {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 1020px;
}

header nav ul {
	list-style-type: none;
	text-align: center;
    margin: 5px 0px;
    padding: 0px;
}

header nav ul li {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}

header nav ul li a {
	font-family: '28 Days Later';
	font-size: x-large;
	text-transform: uppercase;
}

/* SECTION */

/* ARTICLE */

section article {
    width: 825px;
	min-height: 250px;
	margin-left: 195px;
	padding-top: 15px;
	padding-bottom: 15px;
    overflow: auto;
}

.article_author, .article_datePublishment {
	color: grey;
}
.infos_about_article {
	display: inline-block;
	margin-right: 15px;
}
#article_before {
	width: 400px;
	text-align: left;
	display: inline-block;
}
#article_after {
	width: 400px;
	text-align: right;
	display: inline-block;
}

section article iframe {
	border-style: none;
}
section article img {
	display: block;
	margin: auto;
}

/* FACEBOOK */

#fb-comments {
	margin: 0px;
	margin-left: 195px;
	padding: 0px;
}
header nav ul li:last-child {
	height: 29px;
}
#fb-login-button {
	margin: 0px;
	padding: 0px;
	padding-top: 1px;
}

/* ASIDE */

section aside {
    background: url('images/Fond_aside.png');
    position: fixed;
	width: 170px;
	margin: 0px 0px 0px 0px;
	padding-left: 10px;
}

section aside h3 {
	margin-bottom: 0px;
}

section aside p {
	text-align: left;
	font-size: medium;
	margin-top: 4px;
}

/* FOOTER */

footer p {
	display: inline-block;
	vertical-align: top;
}

footer p:nth-child(1) {
	width: 590px;
	margin-left: 15px;
	text-align: left;
	font-size: small;
}

footer p:nth-child(2) {
	width: auto;
	margin-right: 15px;
	text-align: right;
	font-size: small;
}